<div class="container bootstrap snippets bootdey mt-2">
    <div class="row ng-scope">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Contact"></div>
                    <h3 class="m0 text-bold">  {{salarie?.firstName}}  {{salarie?.lastName}} </h3>
                    <div class="mv-lg">
                        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
                    </div>
                    <div class="text-center"><a class="btn btn-primary" href="">Send message</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="h4 text-center">Contact Information</div>
                    <div class="row pv-lg">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form class="form-horizontal ng-pristine ng-valid" #editForm="ngForm">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact1">FirstName</label>
                                    <div class="col-sm-10">
                                       <input class="form-control" id="inputContact1" type="text" name="firstname" ngModel="{{salarie?.firstName}}"> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact2">LastName</label>
                                    <div class="col-sm-10">
                                      <input class="form-control" id="inputContact2" type="text" name="lastname" ngModel="{{salarie?.lastName}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact3">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact3" type="text" name="email" ngModel="{{salarie?.email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact4">Phone</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact4" type="text" name="numberPhone" ngModel="{{salarie?.phoneNumber}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact5">Matricule</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact5" type="text" name="matricule" ngModel="{{salarie?.employeeCode}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact7">Fonction </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact7" type="text" name="fonction" ngModel="{{salarie?.job}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact8">Company</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact8" type="text" value="Sopra Steria">
                                    </div>
                                </div>
                                <div class="btn-group"> 
                                    <div class="form-group mt-2 button-maj">
                                          <div class="col-sm-offset-2 col-sm-10">
                                             <button (click)="onUpdateSalarie (editForm.value)"  class="btn btn-info" type="submit">Update</button>
                                          </div>
                                    </div>
                                    <div class="form-group mt-2 button-maj">
                                          <div class="col-sm-offset-2 col-sm-10">         
                                             <button (click)="onDeleteSalarie ()"  class="btn btn-danger " type="submit" >  
                                                <img alt="delete" class="img-circle" src="https://img.icons8.com/carbon-copy/25/000000/filled-trash.png" title="Delete"/>  
                                              
                                            Delete </button>
                                         </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

