<nav class="navbar navbar-expand-sm bg-dark  navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
         
        <a class="navbar-brand" href="#">soprasteria</a>
        <li class="nav-item">
          <a class="nav-link" routerLink ="">Accueil</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link "  role="button" data-bs-toggle="dropdown">Services</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Conseil</a></li>
          <li><a class="dropdown-item" href="#">Solutions Logicielles</a></li>
          <li><a class="dropdown-item" href="#">Cybersecurite</a></li>
        </ul>                       
      </li>
  
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle "role="button" data-bs-toggle="dropdown">Nous connaitre</a> 
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/salaries" >Nos salaries</a></li>
            <!-- <li><a class="dropdown-item" routerLink="api/v1/employee" >Nos salaries</a></li> -->
            <li><a class="dropdown-item" href="#">Nos partenariats</a></li>
            <li><a class="dropdown-item" href="#">Notre mission</a></li> 
          </ul>     
       </li>
      </ul>
    </div>
  </nav>
  
