 

<!-- <div class="p-5  bg-primary text-white text-center">
    <h1> Welcome to SopraSteria !</h1>
    <p>It's nice to meet you!</p> 
</div> -->

<div class="Accueil ">
    <!-- <img src="/assets/image/templateAccueil.jpg" class="logo" > -->
    <h2 class="u-text u-text-default u-text-1">Simplifiez vos plannings.<br>Libérez votre activité&nbsp;!
    </h2>
    <h2 class="u-large-text u-text u-text-variant u-text-2"> MyWay vous permet de créer des plannings hyper performants,
      d'impliquer tous vos collaborateur.trice.s, de préparer vos paies automatiquement et de ne plus perdre de temps avec l'administratif. Vous êtes libéré.e..</h2>
</div>


 