

/* 
body{margin-top:20px;
    background:rgb(109, 65, 65);
    } */
    .container{
      padding-top: 20px;
      margin-top: 200px ;
      background: #b1a09e  ;

    }
    .input-group{
      width: 300px;
      margin-left: 800px;
       
     }
    /* CONTACTS */
    .contact-box {
      background-color: #d4d1d1ce;
      border: 2px solid #ec522b;
      padding: 20px;
      margin: 25px;
    }
    .contact-box > a {
      color: inherit;
    }
    .contact-box.center-version {
      border: 1px solid #e7eaec;
      padding: 0;
    }
    .contact-box.center-version > a {
      display: block;
      background-color: #ffffff;
      padding: 20px;
      text-align: center;
    }
    .contact-box.center-version > a img {
      width: 80px;
      height: 80px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .contact-box.center-version address {
      margin-bottom: 0;
    }
    .contact-box .contact-box-footer {
      text-align: center;
      background-color: #ffffff;
      border-top: 1px solid #e7eaec;
      padding: 15px 20px;
    }
    a{
        text-decoration:none !important;    
    }